<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bdafahim.driver">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Adminstrator_Homepage" />
        <activity android:name=".Driver_login" />
        <activity android:name=".Driver_SignUp" />
        <activity android:name=".Admin_login" />
        <activity android:name=".Driver_Profile" />
        <activity android:name=".Reporter_Login" />
        <activity android:name=".Reporter_Page" />
        <activity android:name=".Incident_Report" />
        <activity android:name=".Reporter_SignUp" />
        <activity android:name=".Search" />
        <activity android:name=".Remove_User" />
        <activity android:name=".Driver_Incident" />
        <activity android:name=".Home_Page"></activity>
    </application>

</manifest>